<form method="post" action="/home/newuser">
    <input placeholder="enter username" name="username"> <br>
    <input placeholder="enter password" name="password"> <br>
    <input placeholder="enter description" name="description"> <br>
    <button>Create Account</button>
</form>
